
\.DS_Store

Utils\.xcodeproj/project\.xcworkspace/contents\.xcworkspacedata

Utils\.xcodeproj/project\.xcworkspace/xcshareddata/IDEWorkspaceChecks\.plist

Utils\.xcodeproj/project\.xcworkspace/xcuserdata/j\.xcuserdatad/UserInterfaceState\.xcuserstate

Utils\.xcodeproj/xcuserdata/j\.xcuserdatad/xcschemes/xcschememanagement\.plist
